/* Basic Styling */ 
html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(147, 202, 199);
    color: #555;
}
h1{
    color: rgb(131, 131, 131);
    text-align: center;
}

h2{
    text-align: center;
}
p{
    color:rgb(59, 59, 59);
    text-indent:20px;
}
